.card.mb-5.chart
  //- h5.card-title.text-center.fs-3 #{prevMonth.name} Chart
  .card-body
    p.title ЁЯТ░рд╕реАрдзреЗ рд╕рддреНрддрд╛ рдХрдВрдкрдиреА рдХреА No 1 рдЦрд╛рдИрд╡рд╛рд▓ ЁЯТ░

    if (chartDetails.header)
      p.chart-header #{chartDetails.header}

    each location in todayData.data
      p.location тП░#{location.location} ---- #{location.timeLabel}

    if (chartDetails.footer)
      p.chart-footer #{chartDetails.footer}

    p.note ЁЯСЙрдмрд┐рдВрджрд╛рд╕ рд╣реЛрдХрд░ рдкреНрд▓реЗ рдХрд░реЗ рдЦрд╛рдИрд╡рд╛рд▓ рдХреА рдИрдорд╛рдирджрд╛рд░реА рдХреА реЫрд┐рдореНрдореЗрд╡рд╛рд░реА рд╕рддреНрддрд╛ рдХрдВрдкрдиреА рдореИрдиреЗрдЬрд░ рдХреА рд╣реИЁЯСИ

    p.note ЁЯСЗЁЯП╗рдкреНрд▓реЗ рдХрд░рдиреЗ рдХреЗ рд▓рд┐рдП рдпрд╣рд╛рдБ рджрдмрд╛рдП ЁЯСЗЁЯП╗

    if (chartDetails.whatsappNo)
      a(href=`https://wa.me/${chartDetails.whatsappNo}?text=Hello`)
        img(src='/img/whatsapp-chat.png' alt='Home' onclick='' width=175)

